<h1>Test01-content-type without permissions</h1>
<div>A content-type without permissions. Access to the API for this type (read,
write, delete) should result in the following effects:</div>
<ol>
    <li>host-user: everything works</li>
    <li>Accounting (admin-user): everything works</li>
    <li>Smurfette (user with some page-edit permissions): nothing works</li>
    <li>Spiderman (registered user): nothing works</li>
    <li>Anonymous user: nothing works</li>

</ul>
 <div>
     @Edit.Toolbar(Content)
 </div>   
 <div>
     <div>@Content.EntityGuid</div>
     <div>@Content.EntityId</div>
     <div>@Content.EntityTitle</div>
     <div>@Content.EntityType</div>
     <div>@Content.IsPublished</div>
     <div>@Content.Modified</div>
     <div>@Content.Title</div>
 </div>  
    
    
    
