<!-- this includes the $2sxc helpers necessary to work --> 
<script src="/desktopmodules/tosic_sexycontent/js/2sxc.api.min.js"></script>

<h1>Test standard permission on the REST API</h1>
<h2>2. content-type with read permissions for a Smurfs</h2>

<ol>
    <li>with a user in this group, it should work</li>
    <li>with a user in another group, this should fail</li>
    <li>with anonymous users this should fail</li>
</ol>

<hr>

<div>
    @Edit.Toolbar(Content)
</div>  

<div>
    <div>@Content.EntityGuid</div>
    <div>@Content.EntityId</div>
    <div>@Content.EntityTitle</div>
    <div>@Content.EntityType</div>
    <div>@Content.IsPublished</div>
    <div>@Content.Modified</div>
    <div>@Content.Title</div>
</div>

<hr>

<input type="button" onclick="getAllItems(this)" value="click to start (i)">

<h2>t02-content-type-R</h2>
<div id="message"></div>
<ol id="items">
</ol>
<div>
    <a href="javascript:createItem(@Dnn.Module.ModuleID);">create the new item (i)</a>
</div>

<!-- this script block shows the simple way to use the API -->
<script>
    // this is the simple, in-page / in-template code
    function getAllItems(mod) {
        $2sxc(mod).webApi.get('app/auto/content/t02-content-type-R')
            .then(showUpdatedList);
    };

    function deleteItem(mod, entityId) {
        if(!confirm('are you sure?'))
            return;

        $2sxc(mod).webApi.delete('app/auto/content/t02-content-type-R/' + entityId)
            .then(function(data) {
                // use the data to show a message
                getAllItems(mod);
            });
    }

    function createItem(moduleId) {
        // new object to create - with date/time stamp
        var newItem = createDemoItem();

        // this is the "normal" mode demo - where we're working on the current module
        $2sxc(moduleId).webApi.post('app/auto/content/t02-content-type-R', {}, newItem)
            .then(function(data){
                showSuccess(data);
                getAllItems(moduleId);
            });
    };

    // this shows the list of items once they are returned from the server
    function showUpdatedList(data) {
        // use the data to show a message
        $('#message').html("Success, the $.ajax(...) worked! I found " + data.length + " items, the first one is '" + data[0].Title + "'");

        // use the data to show a list of items
        var items = [];
        $.each(data, function(idx, item) {
            items.push( "<li>" 
                + item.Title 
                + " - <a onclick='deleteItem(this, " + item.Id + ")'>delete (i)</a>" 
                + "</li>" );
        });
        $('#items').empty();
        $(items.join("")).appendTo($('#items'));
    }

    // this creates a demo-item for creating new data
    function createDemoItem() {
        return {
            Title: "New item from " + (new Date()).toISOString(),
        }
    }

    function showSuccess (data) {
        // use the data to show a message
        $('#message').html("I just created a new item in the content-database. I'm not showing it here to keep the code very simple - this could be a thank-you message after a contact form.");
    }
</script>
    
<hr>
<hr>