<h1>1 - Tests to prepare for Content-Types</h1>
<h2>@Content.EntityType</h2>
<h3>content-type without permissions</h3>
<div>A content-type without permissions. Access to the API for this type (read,
write, delete) should result in the following effects:</div>
<ol>
    <li>host-user: everything works</li>
    <li>Accounting (admin-user): everything works</li>
    <li>Smurfette (user with some page-edit permissions): nothing works</li>
    <li>Spiderman (registered user): nothing works</li>
    <li>Anonymous user: nothing works</li>
</ol>
<script src="@App.Path/spec/t11.spec.js"></script>
<script>
  const t11 = {
    moduleId: @Dnn.Module.ModuleID,
    appFolder: '@App.Folder',
    entityType: '@Content.EntityType',
  }
  t11spec(t11.moduleId, t11.appFolder, t11.entityType);
</script>
