<h1>@Content.EntityType;</h1>

<script>
    var moduleId = @Dnn.Module.ModuleID;
    var entityType = '@Content.EntityType';
    var appFolder = '@App.Folder';
    var userId = @Dnn.User.UserID;
    var username = '@Dnn.User.Username';
    var apiUrl = '/DesktopModules/2sxc/API/app/' + appFolder + '/api/';
</script>
<script src="@App.Path/spec/Test1Spec.js"></script>
