<h1>@Content.EntityType</h1>
<script src="@App.Path/spec/test1.spec.js"></script>
<script>
  var moduleId = @Dnn.Module.ModuleID;
  var appFolder = '@App.Folder';
  var entityType = '@Content.EntityType';
  t11(moduleId, appFolder, entityType);
</script>
