<h2>@Content.EntityType</h2>
<h3>content-type with read permissions for a Smurfs</h3>
<ol>
    <li>with a user in this group, it should work</li>
    <li>with a user in another group, this should fail</li>
    <li>with anonymous users this should fail</li>
</ol>
<script src="@App.Path/spec/t12.spec.js"></script>
<script>
  var moduleId = @Dnn.Module.ModuleID;
  var appFolder = '@App.Folder';
  var entityType = '@Content.EntityType';
  t12(moduleId, appFolder, entityType);
</script>
