<h2>@Content.EntityType</h2>
<h3>content-type with create-draft permissions for anonymous</h3>
<ol>
  <li>everybody should be able to create - but it should always be draft</li>
</ol>
<script src="@App.Path/spec/t42.spec.js"></script>
<script>
  const t42 = {
    moduleId: @Dnn.Module.ModuleID,
    appFolder: '@App.Folder',
    entityType: '@Content.EntityType',
  }
  t42spec(t42.moduleId, t42.appFolder, t42.entityType);
</script>
